
<header class="block pr header" data-role="header">
<a rel="external" href="/broadband/"><img src="http://s0.uswitchstatic.com/_img/broadband/mobile_site/logo.png?1330445511" height="38" width="36" alt="uSwitch.com" class="logo fl mrs" /></a>
<h1 class="fl"></h1>
</header>

@if(Request.IsAuthenticated) {
    @Html.ActionLink(User.Identity.Name, "Index", "Account", routeValues: null, htmlAttributes: new { data_icon = "gear" })
}
else {
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { data_icon = "gear" })
}

