<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=wlw7-prashanth;Initial Catalog=J;Persist Security Info=True;User ID=sa;Password=password#!" providerName="System.Data.SqlClient" />
    <add name="JEntities" connectionString="metadata=res://*/UChatEntity.csdl|res://*/UChatEntity.ssdl|res://*/UChatEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WLW7-PRASHANTH\MSSQLSERVER1;initial catalog=J;user id=sa;password=password#1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WLW7-PRASHANTH\MSSQLSERVER1;initial catalog=J;user id=sa;password=password#1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WLW7-PRASHANTH\MSSQLSERVER1;initial catalog=J;user id=sa;password=password#1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JModel" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WLW7-PRASHANTH\MSSQLSERVER1;initial catalog=J;user id=sa;password=password#1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JModelEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WLW7-PRASHANTH\MSSQLSERVER1;initial catalog=J;user id=sa;password=password#1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>