<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=wlw7-prashanth;Initial Catalog=J;Persist Security Info=True;User ID=sa;Password=password#!" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>